# folders to not include 
__pycache__
.bot
.vscode
tourdata
data
snipe
sets
.env

# files to not include 
pyproject.toml
poetry.lock
villian.py
manage.json
league.py
mons6.txt
mons7.txt
illegal6.txt
illegal7.txt
help.py
try.py
ship.jpg